@font-face {
	font-family: walkway;
	src: url('../images/Walkway_SemiBold.ttf');
}

@font-face {
	font-family: walkway_bold;
	src: url('../images/Walkway_Bold.ttf');
}

body {
	padding:10px;
	font-family: helvetica;
}

img {
	margin-top:5px;
	margin-right: 3px;
	width: 65px;
	height: 45px;
}

label {

}

#listen {
	margin: 0 auto;
	font-size: 50px;
	color: #444;
	font-family: walkway;
	border-bottom: 1px solid #444;
	text-decoration: none;
	margin-bottom: 20px;
}

#listen:hover {
	color: #777;
	border-bottom: 0px solid #999;
	cursor: pointer;
}

#stop {
	margin: 0 auto;
	font-size: 30px;
	color: #666;
	font-family: walkway;
	text-decoration: none;
}

#stop:hover {
	color: #999;
	cursor: pointer;
}

#message_1 {
	font-size: 12pt;
	margin-top: 40px;
}

#message_2 {
	font-size:10pt;
	text-align: left;
	display: inline-block;
}

#message_3 {
    font-style:italic;
	font-size:10pt;
	display: inline-block;
	text-align: right
}

#message_4 {
	font-style:italic;
	font-size:8pt;
	display: inline-block;
	margin-bottom: 16px;
}

#message_5 {
	font-size:10pt;
	display: inline-block;
}

audio {
	background-color: red;
	border-radius: 10px;
	box-shadow: 1px 1px 4px 0px #444;
	border: none;
}

audio:focus, a:focus {
	outline-width: 0;
}

#container {
	width: 340px;
	text-align: center;
}

#controls {
	margin: 20px 0px 20px 0px;
}

#logo_div {
    margin: 0 auto;
    margin-bottom: 20px;
}

#play_div {
    margin: 0 auto;
    margin-bottom: 20px;
}

#play {
	height: 100px;
	width: 100px;
	margin: 0 auto;
}

#pause {
	display: none;
	height: 100px;
	width: 100px;
	margin: 0 auto;
}

#footer {
	font-size: 8pt;
	width:inherit;
	text-align: justify;
	height: 0;
}

#footer:after{
	content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

#loading {
	display: none;
	margin: 0 auto;
	margin-bottom: 20px;
    width: 200px;
    height: 40px;
    background-image: url("../images/loading_ball_sprite.png");
    -webkit-animation: bounce 1.2s steps(5) infinite;

}

@-webkit-keyframes bounce {
   0% { background-position: 0px; 
   	}
   100% { background-position: 200px; 
	}
}
